@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  .search-input {
    width: 50%;
    height: 30px;
    border-radius: $border-radius;
    border: none;
  }

  .map-style {
    border-radius: $border-radius;
    width: 800px;
    height: 500px;
  }

  .down-details {
    width: 30%;
    display: flex;
    background-color: white;
    border-radius: $border-radius;
    position: relative;
    .directions-container {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 200px;
    }
    .markers-container {
      height: auto;
      border-radius: $border-radius;
      margin-bottom: 20px;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }
  }
}
