<div class="container">
  <input placeholder="Search" type="text" class="search-input" #input />
  <button (click)="onSearch()">Find Place</button>
  <div #map class="map-style"></div>
  <div class="down-details">
    <div
      class="directions-container"
      *ngIf="
        directionDetails.duration !== '' || directionDetails.distance !== ''
      "
    >
      <span>Duration: {{ directionDetails.duration }}</span>
      <span>Distance: {{ directionDetails.distance }}</span>
    </div>
  </div>
</div>
