<div class="container">
  <input placeholder="Search" type="text" class="search-input" #input />
  <button (click)="onSearch()">Find Place</button>
  <div class="map-container">
    <div #map class="map-style"></div>
    <div
      class="directions-container"
      *ngIf="
        directionDetails.duration !== '' || directionDetails.distance !== ''
      "
    >
      <span>Duration: {{ directionDetails.duration }}</span>
      <span>Distance: {{ directionDetails.distance }}</span>
    </div>
  </div>

  <label>Saved places:</label>
  <div class="markers-container">
    <div class="markers-list">
      <span *ngFor="let place of places">{{ place }}</span>
    </div>
  </div>
</div>
