@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  .search-input {
    width: 50%;
    height: 30px;
    border-radius: $border-radius;
    border: none;
    box-shadow: $shadow;
  }
  .map-style {
    border-radius: $border-radius;
    width: 800px;
    height: 500px;
    box-shadow: $shadow;
  }
  .directions-container {
    display: flex;
    span {
      margin: 0 10px;
    }
  }
}
