@import "../../../styles.scss";

.card {
  border: 1px solid;
  border-radius: $border-radius;
  margin: 7px auto;
  padding: auto;
  width: 75%;
  max-width: 500px;
  height: 80px;
  display: flex;
  .title {
    margin: auto;
    width: 50%;
  }
  .logo {
    height: $logo-size;
    width: $logo-size;
  }
}

.save-button {
  height: 40px;
  margin: auto;
}
