@import "../../../styles.scss";

.card {
  border: none;
  border-radius: $border-radius;
  margin: 7px auto;
  width: 75%;
  max-width: 500px;
  height: 80px;
  display: flex;
  box-shadow: $shadow;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;

  span {
    width: 25%;
  }
  img {
    height: $logo-size;
    width: $logo-size;
  }
}

.save-button {
  height: 40px;
}
