@import "../../../styles.scss";

.card {
  border: none;
  border-radius: 50%;
  margin: 7px auto;
  width: 120px;
  height: 180px;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow;
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;

  span {
    width: 100%;
    margin-top: 20px;
  }
  img {
    height: $logo-size;
    width: $logo-size;
  }
}
