.container {
}
.tab-space {
  float: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.attention {
  display: table;
  margin: 0 auto;
}
