<div class="tab-space">
  <app-league-tab
    *ngFor="let league of leagues"
    [leagueUrl]="league.url"
    [leagueName]="league.name"
    (onLoading)="loadingUpdate($event)"
    (onLeaguePick)="loadLeague($event)"
    class="tab"
  ></app-league-tab>
</div>

<div class="cards-container">
  <h1>League: {{ loadedLeague }}</h1>
  <app-details-card
    *ngFor="let team of teams"
    [teamLogo]="team.logo"
    [teamName]="team.name"
    class="card"
  ></app-details-card>
</div>
<span *ngIf="loading" class="attention">Loading...</span>
