.attention {
  display: table;
  margin: 0 auto;
}
.tab {
  margin: 0 auto;
}
.tab-space {
  display: flex;
}
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
